
.DS_Store
__pycache__/Read.cpython-37.pyc
all_properties_and_postcodes.csv
entire_period_filtered.csv
pp-complete.csv
filtered_df.csv
National_Statistics_Postcode_Lookup_UK.csv
Old/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Old/Land Reg - New-Copy1.ipynb
Old/Land Reg.ipynb
Old/Land Registration.ipynb
Old/Untitled.ipynb

.idea/workspace.xml
.idea/
